/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/* Bex signed off on this, vaguely, because we needed
to only remove padding and I started styling before
learning about Reset. */

ul {

  /* Box-model */
  padding: 0;

  /* Positioning */
  margin: 0;
  font: inherit;

  /* Typography */
  font-size: 100%;
  vertical-align: baseline;

  /* Visual */
  border: 0;
}


ol,
ul {
  list-style: none;
}